*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.promo {
  height: 800px;
  background: url("img/bg/main_bg.png") center center / cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}
.logo .logo_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;

  font-style: normal;

  margin-top: 14px;
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 41px;
  line-height: 24px;
  color: #f9bf3b;
  text-transform: uppercase;
  text-align: center;
}
h1 {
  margin-top: 53px;
}
.simple .title_big {
  position: relative;
  margin-top: 21px;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  /* line-height: 80px; */

  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.title_big::before {
  content: "";
  position: absolute;
  width: 290px;
  height: 2px;
  left: 10px;
  top: 50%;
  background-color: #fff;
  margin-right: 5px;
}
.title_big::after {
  content: "";
  position: absolute;
  width: 290px;
  height: 2px;
  top: 50%;
  background-color: #fff;
  margin-left: 5px;
}
h2.title {
  margin-top: 30px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  margin-bottom: 72px;
  color: #fff;
  font-weight: 100;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}
.promo .promo_text span {
  font-weight: 700;

  color: #f9bf3b;
}
.promo_btn {
  display: block;
  margin: 0 auto;
  /* margin top заменен на margin bottom у прошлого элемента для использования кнопки в др месте */
  /* margin-top: 72px;  */

  width: 313px;
  height: 72px;

  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.18);
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 62px;
}
.more .more_text {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* waiting block via flex */
/* .waiting .waiting_wrapper {
  display: flex;
  justify-content: space-evenly;
}
.waiting .waiting_item {
  margin: 0 48px;
}
.waiting .waiting_item:last-of-type {
  margin-right: 0;
}
.waiting .waiting_item:first-of-type {
  margin-left: 0;
} */
.waiting {
  min-height: 607px;
  background-color: #efefef;
  padding: 85px 0 75px;
}
.waiting .waiting_header,
.finish .finish_header,
.event .event_header {
  font-weight: 400;
  font-size: 30px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;

  color: #252525;
}
.finish .finish_header {
  color: #fff;
  margin-bottom: 18px;
  margin-bottom: 28px;
}
.waiting .waiting_divider,
.finish_divider {
  width: 220px;
  height: 4px;
  background: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}
.waiting .waiting_subheader {
  margin-top: 18px;
  font-weight: 400;
  font-size: 23px;

  text-align: center;

  color: #4a4a4a;
}
.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
}
.waiting .waiting_wrapper .waiting_item {
  width: 369px;
  margin-right: 20px;
  text-align: center;
}
.waiting .waiting_wrapper .waiting_item:last-of-type {
  margin-right: 0;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;

  color: #4a4a4a;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 75px 0;
}
.optimization .optimization_header {
  margin-left: 391px;

  font-weight: 900;
  font-size: 30px;

  text-transform: uppercase;

  color: #299cbd;
}
.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;

  font-weight: 300;
  font-size: 17px;
  line-height: 27px;

  color: #4a4a4a;
}
.optimization .optimization_text span {
  font-weight: 700;
}
.optimization .optimization_img {
  position: absolute;
  z-index: -1;
  top: -47px;
  left: -240px;
}

.finish {
  min-height: 445px;
  padding: 86px 0 66px 0;
  background: url("img/bg/second_bg.png") center center/cover no-repeat;
}
.finish .finish_wrapper {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
  width: 234px;
}
.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 118px;
  height: 118px;
  border-radius: 100%;
  background: #b4e2ff;
}
.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;

  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  text-align: center;

  color: #efefef;
}

.gift {
  min-height: 631px;

  background-color: #efefef;
  padding-top: 88px;
}
.gift .gift_icon {
  display: block;
  margin: 0 auto;
}
.gift .gift_text {
  margin-top: 45px;
  margin-bottom: 51px;

  font-weight: 400;
  font-size: 30px;
  line-height: 43px;

  text-align: center;

  color: #252525;
}

.event {
  padding-top: 89px;
  background-color: #fff;
}
.event .event_pic {
  display: block;
  margin: 0 auto;
}
.event .event_header {
  margin-top: 36px;

  font-weight: 400;
  font-size: 30px;

  text-align: center;
  text-transform: uppercase;

  color: #252525;
}
.event .event_date {
  margin-top: 30px;

  font-weight: 900;
  font-size: 36px;

  text-align: center;
  text-transform: uppercase;

  color: #299cbd;
}
.event .event_subheader {
  margin-top: 25px;
  margin-bottom: 52px;

  font-style: normal;
  font-size: 23px;
  text-align: center;

  color: #4a4a4a;
}

.footer {
  /* min-height: 169px; */
  background-color: #1a1a1a;

  padding-top: 57px;
  padding-bottom: 69px;

  text-align: center;
}
.footer .footer_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;

  text-align: center;
  text-decoration-line: underline;

  color: #888888;
}
.footer_wrapper {
  position: relative;
}
.footer_text {
  display: inline-block;
}
/* .footer .footer_divider{
  content:"";
   width: 1px;
  height: 15px; 
  background-color: #888888;
  
} */
.footer .footer_tel {
  text-decoration: none;
}
